<script>
  $(document).ready(function () {
    let itemcode = "";
    let status = "";

    LoadTable();
    LoadList();
    LoadModalList();

    $("#cablingitems-dataTable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      itemcode = dataRow[0];
      status = dataRow[3];
    });

    $(document).on("click", "#editBtn", function () {
      $("#itemcodemodal").val(itemcode);
      $("#cablingitemsModal").modal("show");
      console.log(itemcode);
    });

    $(document).on("click", "#addBtn", function () {
      let itemdescription = $("#itemdescription").val();
      let brandname = $("#brandlist").val();

      var message = "";

      if (itemdescription == "") {
        message += "ITEM DESCRIPTION ";
      }

      if (brandname == "") {
        message += "BRAND NAME";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitems/save",
          data: {
            itemdescription: itemdescription,
            brandname: brandname,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${itemdescription} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let itemdescriptionmodal = $("#itemdescriptionmodal").val();
      let brandlistmodal = $("#brandlistmodal").val();

      var message = "";

      if (itemdescriptionmodal == "") {
        message += "ITEM DESCRIPTION ";
      }

      if (brandlistmodal == "") {
        message += "BRAND NAME ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitems/edit",
          data: {
            itemdescriptionmodal: itemdescriptionmodal,
            brandlistmodal: brandlistmodal,
            itemcode: itemcode,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${itemdescriptionmodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(itemcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitems/status",
        data: {
          status: status,
          itemcode: itemcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(itemcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitems/status",
        data: {
          status: status,
          itemcode: itemcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("cablingitems-dataTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    function LoadTable() {
      $("#cablingitems-dataTable").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/cablingitems/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "ACTIVE") {
                action =
                  '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#cablingitemsModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-primary" name="inactiveBtn">INACTIVE</button>';
              }
              if (status == "INACTIVE") {
                action =
                  '<button id="editBtn" class="btn btn-outline-primary" name="editBtn" data-toggle="modal" data-target="#cablingitemsModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-primary" name="activeBtn">ACTIVE</button>';
              }

              finalData.push({
                itemcode: item.itemcode,
                brand: item.brand,
                description: item.description,
                status: item.status,
                createdby: item.createdby,
                createddate: item.createddate,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "itemcode" },
          { data: "brand" },
          { data: "description" },
          { data: "status" },
          { data: "createdby" },
          { data: "createddate" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            if (item.status == "ACTIVE") {
              var options = new Option(item.brandname, item.brandname);
              $(options).html(item.brandname);
              // $("#fruits").append(options);
              $("#brandnamelist").append(options);
            }
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function LoadModalList() {
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          var data = result.data;

          $.each(data, function (key, item) {
            if (item.status == "ACTIVE") {
              var options = new Option(item.brandname, item.brandname);
              $(options).html(item.brandname);
              // $("#fruits").append(options);
              $("#brandnamelistmodal").append(options);
            }
          });
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }
  });
</script>
