<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <a target="_blank" class="ft-link" href="https://www.5lsolutions.com/">5L Solutions Supply's & Allied Services Inc.</a></span>
        </div>
    </div>
</footer>