<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand align-items-center justify-content-center web-hidden"
    href="#"
  >
    <div class="sidebar-brand-icon">
      <img
        src="/images/img/logo.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
    <div class="sidebar-brand-text mx-3">Inventory System</div>
  </a>

  <div class="webview-margin"></div>
  <!-- Divider -->
  <hr class="sidebar-divider" style="margin-bottom: 0 !important" />
  <% if (roletype==='Admin' ) { %>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Control Panel</div>

  <!-- Nav Item - PCreated bys Collapse Menu -->

  <!-- Nav Item - Admin Control Panel Collapse Menu -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseAdminControlPanel"
      aria-expanded="true"
      aria-controls="collapseAdminControlPanel"
    >
      <i class="fas fa-fw fa-database"></i>
      <span>Masters</span>
    </a>
    <div
      id="collapseAdminControlPanel"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <h6 class="collapse-header">Master type:</h6>
        <a class="collapse-item" href="/roletype">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span> Roles</span>
        </a>
        <a class="collapse-item" href="/position">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Position</span>
        </a>
        <a class="collapse-item" href="/department">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Department</span>
        </a>
        <a class="collapse-item" href="/accesstype">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Access</span>
        </a>
        <a class="collapse-item" href="/employee">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Employee</span>
        </a>
        <h6 class="collapse-header">Client:</h6>
        <a class="collapse-item" href="/store">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Store</span>
        </a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities2"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fa fa-user-cog" aria-hidden="true"></i>
      <span>Authentication</span>
    </a>
    <div
      id="collapseUtilities2"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <a class="collapse-item" href="/users">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>User</span>
        </a>
      </div>
    </div>
  </li>

  <% } %> <% if (roletype==='Admin' || roletype==='User' || roletype==='Manager'
  ) { %>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Cabling Inventory</div>

  <!-- Nav Item - Cabling Dashboard Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/cablingdashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Nav Item - Cabling Collapse Menu -->
  <% if (roletype==='Admin' || roletype==='Manager' ) { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCablingMaster"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fa fa-database" aria-hidden="true"></i>
      <span>Masters</span>
    </a>
    <div
      id="collapseCablingMaster"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <h6 class="collapse-header">Master:</h6>
        <a class="collapse-item" href="/cablingitems">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Item</span>
        </a>
        <a class="collapse-item" href="/cablingtool">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Tools</span>
        </a>
        <a class="collapse-item" href="/cablingpersonel">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Personel</span>
        </a>
        <a class="collapse-item" href="/cablingitemunits">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Units</span>
        </a>
        <h6 class="collapse-header">Request Type:</h6>
        <a class="collapse-item" href="/cablingrequesttype">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Type</span>
        </a>
        <h6 class="collapse-header">Price:</h6>
        <a class="collapse-item" href="/cablingitemprice">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Item Price</span>
        </a>
        <h6 class="collapse-header">Automation:</h6>
        <a class="collapse-item" href="/stocks">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Max & Min Stocks</span>
        </a>
        <a class="collapse-item" href="/repeatrequest">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Repeat Request</span>
        </a>
      </div>
    </div>
  </li>
  <% } %>
  <!-- Nav Item - Cabling Inventory Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCablingInventory"
      aria-expanded="true"
      aria-controls="collapseCablingInventory"
    >
      <i class="fa fa-boxes" aria-hidden="true"></i>
      <span>Inventory</span>
    </a>
    <div
      id="collapseCablingInventory"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <h6 class="collapse-header">Items:</h6>
        <a class="collapse-item" href="/cablingproduct">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Products</span>
        </a>
        <a class="collapse-item" href="/cablingmaterial">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Materials</span>
        </a>
        <a class="collapse-item" href="/cablingtoolinventory">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Tools</span>
        </a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Cabling Request Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCablingRequest"
      aria-expanded="true"
      aria-controls="collapseCablingRequest"
    >
      <i class="fa fa-money-check" aria-hidden="true"></i>
      <span>Request</span>
    </a>
    <div
      id="collapseCablingRequest"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <h6 class="collapse-header">Items:</h6>
        <a class="collapse-item" href="/cablingrequestmaterial">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Materials</span>
        </a>
        <a class="collapse-item" href="/cablingrequestproduct">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Products</span>
        </a>
        <a class="collapse-item" href="/requesttools">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Tools</span>
        </a>
        <a class="collapse-item" href="/requestpurchaseorder">
          <i class="far fa-circle mr-1 sb-icon-clr"></i>
          <span>Purchase Order</span>
        </a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Cabling Reports Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseCablingReports"
      aria-expanded="true"
      aria-controls="collapseCablingReports"
    >
      <i class="fa fa-chart-bar" aria-hidden="true"></i>
      <span>Reports</span>
    </a>
    <div
      id="collapseCablingReports"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="py-2 collapse-inner rounded">
        <h6 class="collapse-header">Options:</h6>
        <a class="collapse-item" href="/reportmaterials">
          <span>
            <i class="far fa-circle mr-1 sb-icon-clr"></i>
          </span>
          Materials
        </a>
        <a class="collapse-item" href="/reportpurchaseorder"
          ><span>
            <i class="far fa-circle mr-1 sb-icon-clr"></i>
          </span>
          Purchase Order</a
        >
      </div>
    </div>
  </li>

  <% } %>

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->
</ul>
