<!DOCTYPE html>
<html lang="en">

<head>
<!-- HEADER -->
<style>
html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-image: url('/images/img/pxfuel.jpg') !important;
background-attachment: fixed !important;
}

</style>
  <%- include("./components/header.ejs")%>
  <title>Login Page</title>
</head>

<body id="pCreated by-top">

    <%- include("./pages/login/login.ejs")%>
    <%- include("./components/script.ejs")%>
    <%- include("./pages/login/loginscript.ejs")%>
    
</body>

</html>