@import url(customdropdown.css);
:root {
  --clr-base: #700b12;
  --clr-top: #911f27;
  --clr-btn: #dd5353;
  --clr-default: #eb1c23;
  --clr-white: #fff;
  --clr-bg-table: #ff6459;
  --clr-hamburger: #17C3B2;

  --topbar-width-6rem: calc(100% - 6rem);
  --topbar-width-14rem: calc(100% - 17.5rem);
}

.span-font-size {
  font-size: 25px !important;
}

.green {
  background-color: var(--clr-base);
}

.img-fluid {
  border-radius: 50px !important;
  height: 60px;
  width: 60px;
}

.img-fluid-top{
  max-height: 8rem;
  padding-right: .85rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 15px;
}

.bg-custom {
  background-color: #f1f6f9 !important;
}

.btn-outline-primary:hover {
  background-color: var(--clr-btn) !important;
  color: #fff !important;
}
.btn-outline-primary {
  color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

button {
  width: 100px;
}

.btnclr {
  color: #fff !important;
}

.btn {
  margin-bottom: 1px !important;
}

.table-title,
.page-title {
  color: var(--clr-btn) !important;
}

.page-item.active .page-link {
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

.topbar-icon {
  color: var(--clr-btn);
}

.topbar{
  width: 100%;
}

.topbar-bg{
  background-color: white;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.modal-header {
  background-color: var(--clr-top) !important;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 100%;
  height: 400px;
  border: 1px solid var(--clr-base);
  background-color: var(--clr-top);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.logintext {
  color: white;
}

.logintextbtn {
  color: black !important;
}

.container {
  height: 100%;
  align-content: center !important;
}

.loginImg {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.top-icon {
  color: var(--clr-btn);
}

.btn-link {
  color: var(--clr-btn) !important;
}

.btn-link:hover {
  color: var(--clr-btn) !important;
}

.circle-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  background-color: #dd5353;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.horizontal-line,
.vertical-line {
  width: 100%;
  height: 4px;
  background-color: white;
  pointer-events: none;
}

.vertical-line {
  position: relative;
  bottom: 4px;
  transform: rotate(90deg);
}

.plus::before {
  font-size: 40px;
  color: white;
  content: "+";

  /* optional */

  /* optional */
  text-align: center;
  /* optional */
}

.minus::before {
  font-size: 40px;
  color: white;
  content: "-";
  display: inline-block;
  width: 40px;
  /* optional */
  height: 40px;
  /* optional */
  text-align: center;
  /* optional */
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown{
  margin-left: 5.1rem !important;
}

.hidden{
  display: none;
}

.custom-dropdown {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 36.7vw;
  z-index: 1000;
  border-radius: 0.275rem;
}

.custom-dropdown-modal {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: inherit;
  z-index: 1000;
  border-radius: 0.275rem;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  z-index: 4;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.daterangepicker th.month{
  color: black !important;
}

#content{
  margin-left: 16.5rem;
  margin-right: 1.25rem;
  margin-top: 5rem;
  padding: .5rem;
  background-color: rgb(238, 242, 246);
  border-radius: 12px;
  transition: width 0.5s;
  
}

@media (min-width: 768px) {
  /* .navbar-toggled{
    width: var(--topbar-width-6rem);
  } */

  .content-toggled {
    margin-left: 1.5rem !important;
  }

  .sidebar{
    margin-top: 5rem;
    overflow-y: auto;
    max-height: calc(100vh - 5rem);
    overflow-x: hidden;
  }

  .web-hidden{
    display: none !important;
  }

  .sidebar.toggled {
    transition: width 0.5s;
  }

  .sidebar {
    transition: width 0.5s;
  }
  
}

@media (max-width: 767px){
  .sidebar .nav-item .collapse{
    background-color: white;
  }

  #content{
    margin: 5rem 0.85rem !important;
  }
  .nav-link{
    margin-left: 0 !important;
  }
  /* .sidebar{
    width: 20rem !important;
  } */
  .web-hidden{
    display: visible !important;
  }

  .mobile-hidden{
    display: flex !important;
  }
  
  #content{
    margin-left: 6rem;
  }
  
  .sticky-footer{
    margin-left: 6rem;
  }  

  .navbar{
    margin-left: 6.5rem !important;
    width: var(--topbar-width-6rem);
  }

  .content-toggled {
    margin-left: 0!important;
  }
  .navbar-toggled {
    margin-left: 0!important;
    width: 100%;
  }
  .footer-toggled{
    margin-left: 0!important;
  }

  .sidebar.toggled {
    transition: width 0.5s;
  }

  .sidebar {
    transition: width 0.5s;
  }
  
}

/*-------- HAMBURGER ICON --------*/
.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}

.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: var(--clr-hamburger);
}

.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}

.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}

.lineMid {
  stroke-dasharray: 40 40;
}

.hamburger .checkbox:checked+svg .line {
  stroke: var(--clr-hamburger);
}

.hamburger .checkbox:checked+svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}

.hamburger .checkbox:checked+svg .lineMid {
  stroke-dashoffset: 40;
}

.hamburger .checkbox:checked+svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #b8c1cd;
  border-radius: 6px;
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #a2a5a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #697586;
}
