@import url(customdropdown.css);
@import url(toastr.css);

:root {
  --clr-base: #700b12;
  --clr-top: #911f27;
  --clr-btn: #dd5353;
  --clr-default: #eb1c23;
  --clr-white: #fff;
  --clr-bg-table: #ff6459;
  --clr-hamburger: #17C3B2;
  --clr-hamburger-25: rgb(23, 195, 178, .25);
  --clr-scrollbar: rgb(17, 196, 137);
  --clr-sidebar-icons: rgb(0, 167, 111);
  --clr-subheading: #9499a3;

  --topbar-width-6rem: calc(100% - 6rem);
  --topbar-width-14rem: calc(100% - 17.5rem);
  --content-height: calc(100vh - 10rem);

  /*Custom dropdown widths*/
  --adaptw-5rem: calc(100% - 5rem);
  --adaptw-5-8rem: calc(100% - 5.8rem);
  --adaptw-6-5rem: calc(100% - 6.5rem);
  --adaptw-6-8rem: calc(100% - 6.8rem);
  --adaptw-9rem: calc(100% - 9rem);
}

.dashboard-icon{
  color: var(--clr-hamburger);
}

.no-wrap{
  white-space: nowrap;
}

.ft-link{
  color: var(--clr-default);
}
.ft-link:hover{
  color: var(--clr-default);
  text-decoration: underline;
}

.sb-icon-clr{
  color: var(--clr-sidebar-icons)
}

.span-font-size {
  font-size: 25px !important;
}

.green {
  background-color: var(--clr-base);
}

.img-fluid {
  border-radius: 50px !important;
  height: 60px;
  width: 60px;
}

.img-fluid-top {
  max-height: 8rem;
  padding-right: .85rem;
}

.form-label {
  font-size: 1.2rem;
  margin-left: 15px;
  color: #3a3b45;
}

.bg-custom {
  background-color: #f1f6f9 !important;
}

.btn-outline-primary:hover {
  background-color: var(--clr-btn) !important;
  color: #fff !important;
}

.btn-outline-primary {
  color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

button {
  width: 100px;
}

.fas {
  cursor: pointer;
}

.btnclr {
  color: #fff !important;
}

.btn {
  margin-bottom: 1px !important;
}

.table-title,
.page-title {
  color: var(--clr-hamburger) !important;
}

.page-item.active .page-link {
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

.topbar-icon {
  color: var(--clr-btn);
}

.topbar {
  width: 100%;
}

.topbar-bg {
  background-color: white;
}

th {
  text-align: center !important;
}

td {
  text-align: center !important;
}

.modal-header {
  background-color: var(--clr-top) !important;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 100%;
  height: 400px;
  border: 1px solid var(--clr-base);
  background-color: var(--clr-top);
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.logintext {
  color: white;
}

.logintextbtn {
  color: black !important;
}

.container {
  height: 100%;
  align-content: center !important;
}

.loginImg {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.top-icon {
  color: var(--clr-btn);
}

.btn-link {
  color: var(--clr-btn) !important;
}

.btn-link:hover {
  color: var(--clr-btn) !important;
}

.circle-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  align-items: center;
  background-color: #dd5353;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.horizontal-line,
.vertical-line {
  width: 100%;
  height: 4px;
  background-color: white;
  pointer-events: none;
}

.vertical-line {
  position: relative;
  bottom: 4px;
  transform: rotate(90deg);
}

.plus::before {
  font-size: 40px;
  color: white;
  content: "+";

  /* optional */

  /* optional */
  text-align: center;
  /* optional */
}

.minus::before {
  font-size: 40px;
  color: white;
  content: "-";
  display: inline-block;
  width: 40px;
  /* optional */
  height: 40px;
  /* optional */
  text-align: center;
  /* optional */
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown {
  margin-left: 5.1rem !important;
}

.hidden {
  display: none;
}

.custom-dropdown {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  z-index: 1000;
  border-radius: 0.275rem;
}

.cdw-4letter{
  width: var(--adaptw-5rem);
}
.cdw-5letter{
  width: var(--adaptw-5-8rem);
}
.cdw-6letter{
  width: var(--adaptw-6-5rem);
}
.cdw-8letter{
  width: var(--adaptw-6-8rem);
}
.cdw-10letter{
  width: var(--adaptw-9rem);
}

.custom-dropdown-modal {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: inherit;
  z-index: 1000;
  border-radius: 0.275rem;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  z-index: 4;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.daterangepicker th.month {
  color: black !important;
}

#content {
  margin-left: 16.5rem;
  margin-right: 1rem;
  margin-top: 5rem;
  padding: .5rem;
  background-color: rgb(238, 242, 246);
  border-radius: 12px;
  transition: width 0.5s;
  min-height: var(--content-height);
  max-height: var(--content-height);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  /* .navbar-toggled{
    width: var(--topbar-width-6rem);
  } */

  .content-toggled {
    margin-left: 1rem !important;
  }

  .sidebar {
    margin-top: 5rem;
    overflow-y: auto;
    max-height: calc(100vh - 5rem);
    overflow-x: hidden;
  }

  .web-hidden {
    display: none !important;
  }

  .sidebar.toggled {
    transition: width 0.5s;
    display: none !important;
  }

  .sidebar {
    transition: width 0.5s;
  }

  .footer-toggled {
    margin-left: 0 !important;
  }

}

@media (max-width: 767px) {
  .sidebar .nav-item .collapse {
    background-color: white;
  }

  #content {
    margin: 5rem 0.85rem !important;
    margin-bottom: 0 !important;
  }

  .table-size{
    height: 520px !important;
  }

  .nav-link {
    margin-left: 0 !important;
  }

  /* .sidebar{
    width: 20rem !important;
  } */
  .web-hidden {
    display: visible !important;
  }

  .mobile-hidden {
    display: flex !important;
  }

  #content {
    margin-left: 6rem;
  }

  .sticky-footer {
    margin-left: 6rem;
  }

  .navbar {
    margin-left: 6.5rem !important;
    width: var(--topbar-width-6rem);
  }

  .content-toggled {
    margin-left: 0 !important;
  }

  .navbar-toggled {
    margin-left: 0 !important;
    width: 100%;
  }

  .footer-toggled {
    margin-left: 0 !important;
  }

  .sidebar.toggled {
    transition: width 0.5s;
  }

  .sidebar {
    transition: width 0.5s;
  }

  .custom-mobile-table thead {
    display: none;
  }

  .custom-mobile-table,
  .custom-mobile-table tbody,
  .custom-mobile-table tr,
  .custom-mobile-table td {
    display: block;
    width: 100%;
  }

  .custom-mobile-table tr {
    margin-bottom: 15px;
  }

  .custom-mobile-table .custom-mobile-align {
    padding-left: 50% !important;
    position: relative;
  }

  .custom-mobile-table .custom-mobile-align::before {
    content: attr(data-label)": ";
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even) {
    background-color: var(--grey-50) !important;
    /* color: var(--sidebar-text-active); */
  }

}

/*-------- HAMBURGER ICON --------*/
.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}

.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: var(--clr-hamburger);
}

.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}

.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}

.lineMid {
  stroke-dasharray: 40 40;
}

.hamburger .checkbox:checked+svg .line {
  stroke: var(--clr-hamburger);
}

.hamburger .checkbox:checked+svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}

.hamburger .checkbox:checked+svg .lineMid {
  stroke-dashoffset: 40;
}

.hamburger .checkbox:checked+svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-scrollbar);
  border-radius: 6px;
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-scrollbar);
}

/* STATUS */
.status-success {
  border-radius: 6px;
  cursor: default;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(17, 141, 87);
}

.status-warning {
  border-radius: 6px;
  cursor: default;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(183, 29, 24);
}

.status-pending {
  border-radius: 6px;
  cursor: default;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(242, 147, 57);
}

.status-inprogress {
  border-radius: 6px;
  cursor: default;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 2rem 0;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(48, 129, 208);
}

.status-container-sc {
  background-color: rgba(34, 197, 94, 0.16);
  padding: 0px 6px;
  border-radius: 0.375rem;
}

.status-container-wr {
  background-color: rgba(255, 86, 48, 0.16);
  padding: 0px 6px;
  border-radius: 0.375rem;
}

.status-container-pd {
  background-color: rgba(247, 203, 115, 0.25);
  padding: 0px 6px;
  border-radius: 0.375rem;
}

.status-container-inpg {
  background-color: rgba(109, 185, 239, 0.16);
  padding: 0px 6px;
  border-radius: 0.375rem;
}

/* --- BUTTON --- */

.cw-7rem{
  width: 7.5rem;
}

.cw-5rem{
  width: 5rem;
}

.cw-3rem{
  width: 3rem;
}

.custom-btn {
  padding: 0.8em 1.8em;
  font-weight: 400;
  border: 1px solid var(--clr-hamburger);
  position: relative;
  overflow: hidden;
  background-color: var(--clr-white);
  text-align: center;
  font-size: 1rem;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: var(--clr-hamburger);
  padding: 0.375rem 0.75rem;
  border-radius: 0.2rem;
}

.inventory-title{
  color: var(--clr-hamburger);
  font-size: 85%;
  font-weight: 700;
}

span.subheading{
  color: var(--clr-subheading);
  display: block;
}

span.subheading:first-letter{
  text-transform: capitalize;
}


.custom-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--clr-hamburger);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.custom-btn:hover::before {
  width: 105%;
}

.custom-btn:hover {
  color: var(--clr-white);
}

.scrollable-table-container {
  height: 565px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-m {
  height: 665px !important; 
  overflow-y: auto !important;
}

.table-size{
  height: 640px;
}

.table-size-m{
  height: 765px;
}

.table-header{
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white
}

.custom-loader{
  background-color: var(--grey-75);
  height: 20px;
  width: 100%;
  border-radius: 0.375rem;
}

td .custom-loader{
  background-color: #ededed;
  background: linear-gradient(100deg,
  rgba(255, 255, 255, 0) 40%,
  rgba(255, 255, 255, 0.80) 50%,
  rgba(255, 255, 255, 0) 60% ) var(--grey-50);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading{
  to{
      background-position-x: 30%;
  }
}