<script>
  $(document).ready(function () {
    let detailid = "";
    let requestby = "";
    let requestdate = "";
    let remarks = "";

    let report_brand = "";
    let report_description = "";

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $("#cabling-equipment-datable tbody");
    for (let i = 0; i < 8; i++) {
      tbody.append(loader);
    }

    LoadTableRequest();
    LoadCardData();
    LoadTableStocks();

    $("#cabling-equipment-datable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      detailid = dataRow[0];
      requestby = dataRow[2];
      requestdate = dataRow[1];
      remarks = dataRow[4];
    });

    let row_index = "";
    let current_row_index = "";
    let current_row = "";
    let current_count = 0;
    $("#report-dataTable").on("click", "tr", function () {
      var dataRow = [];
      row_index = this;
      current_row_index = $(this).index();
      current_row = $(this).closest("tr");
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      report_brand = dataRow[0];
      report_description = dataRow[1];
    });

    $(document).on("click", "#reportBtn", function () {
      //   $("#itempricemodal").val(RemoveCurrencyFormatting(itemprice));
      $("#detailidmodal").html(detailid);
      $("#requestbymodal").html(requestby);
      $("#requestdatemodal").html(requestdate);
      $("#requestremarksmodal").html(remarks);
      ClearTable("request-dataTable");
      ClearTable("report-dataTable");
      ClearTable("patchpanel-dataTable");
      ClearTable("return-dataTable");

      $("#modal-content").modal("hide");

      $("#cablingrequestmaterialreportModal").modal("show");
      console.log(detailid);

      LoadTableModal(detailid);
    });

    // //Submit Report
    // $(document).on("click", "#submitBtn", function () {});

    //Request Table Action Buttons
    $(document).on("click", "#approveBtn", function () {
      console.log(detailid);
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/approve",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTableRequest();
            success("Saved", "Successfully");
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value;
      table = document.getElementById("cabling-equipment-datable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    $("#report-dataTable").on("keyup", ".input-element", function (e) {
      var count = $(this).val();
      var request_count = $(
        `#request-body-table tr:eq(${current_row_index}) td:eq(2)`
      ).text();
      console.log(`${count} ${request_count} ${current_row_index}`);

      current_count = request_count - count;

      console.log(current_count);
      $(`#return-dataTable tr:eq(${current_row_index + 1}) td:eq(2)`).text(
        `${current_count}`
      );
    });

    $(document).on("click", "#submitBtn", function () {
      //#region Report table
      var table = document.getElementById("report-dataTable");
      var report_table = $("#report-dataTable tr");
      var report_table_length = report_table.length;
      var reportdr = $("#reportdr").val();
      var report_detail = [];

      for (x = 1; x < report_table_length; x++) {
        var innerData = report_table[x].innerText;
        innerData = innerData.split("\t");
        var target_row = table
          .getElementsByTagName("tbody")[0]
          .getElementsByTagName("tr")[x - 1];

        var input = $(target_row).closest("tr").find('input[type="text"]');

        if (reportdr == "") {
          return warning("Empty", "Please fillup DR for report table.");
        }

        report_detail.push({
          brand: innerData[0],
          description: innerData[1],
          count: input.val(),
          unit: innerData[3],
          dr: reportdr,
        });
      }
      //#endregion

      //#region Return table
      var return_table = $("#return-dataTable tr");
      var return_table_length = return_table.length;
      var return_detail = [];

      for (x = 1; x < return_table_length; x++) {
        var innerData = return_table[x].innerText;
        innerData = innerData.split("\t");

        var count = innerData[2];
        if (count != "0") {
          return_detail.push({
            brand: innerData[0],
            description: innerData[1],
            count: innerData[2],
            unit: innerData[3],
          });
        }
      }
      //#endregion

      //#region Patch Panel table
      var patchpanel_table = $("#patchpanel-dataTable tr");
      var patchpanel_table_length = patchpanel_table.length;
      var patchpaneldr = $("#patchpaneldr").val();
      var patchpanel_detail = [];

      for (x = 1; x < patchpanel_table_length; x++) {
        var innerData = patchpanel_table[x].innerText;
        innerData = innerData.split("\t");

        if (patchpaneldr == "") {
          return warning("Empty", "Please fillup DR for patch panel table.");
        }

        patchpanel_detail.push({
          brand: innerData[0],
          description: innerData[1],
          count: innerData[2],
          unit: innerData[3],
          dr: patchpaneldr,
        });
      }
      //#endregion

      report_detail = JSON.stringify(report_detail);
      return_detail = JSON.stringify(return_detail);
      patchpanel_detail = JSON.stringify(patchpanel_detail);

      console.log(report_detail);
      console.log(return_detail);
      console.log(patchpanel_detail);

      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/report",
        data: {
          detailid: detailid,
          requestby: requestby,
          reportdetail: report_detail,
          returndetail: return_detail,
          patchpaneldetail: patchpanel_detail,
        },
        success: function (result) {
          $("#cablingrequestmaterialreportModal").modal("hide");
          LoadTableRequest();
          success("Success", "Report Complete!");
        },
        error: function (err) {
          warning("Error", err);
        },
      });
    });

    function LoadTableRequest() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: "/cablingrequestmaterial/load",
        method: "GET",
        dataType: "json",
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          },
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === "success") {
                populaterequesttable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    $("#search-request").on("input", function () {
      filterTableRows("#cabling-equipment-datable", 7, "#search-request");
    });

    function populaterequesttable(data) {
      console.log("reqeust", data);
      const tableBody = $("#cabling-equipment-datable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 7,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "APPROVED") {
            action = `<button class="custom-btn shadow-sm cw-7rem" id="reportBtn" name="reportBtn" data-toggle="modal" data-target="#editModal">REPORT</button>`;
          } else if (item.status === "REQUEST") {
            action =
              action = `<button class="custom-btn shadow-sm cw-7rem" id="approveBtn" name="approveBtn">APPROVE</button>`;
          }
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getContainerBackground(item.status);

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.detailid,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.requestdate,
              "data-label": "Access",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.requestby,
              "data-label": "Created By",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              html: item.detail,
              "data-label": "Created Date",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.remarks,
              "data-label": "Created Date",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              class: "custom-mobile-align",
              "data-label": "Status",
            }).append(
              $("<div>", { class: containerBackground }).append(
                $("<span>", { text: item.status, class: statusBackground })
              )
            ),
            $("<td>", {
              html: action,
              "data-label": "Action",
              class: "actionWidth",
            })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadTableStocks() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: "/cablingdashboard/getcurrentstocks",
        method: "GET",
        dataType: "json",
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          },
        },
        success: function (response) {
          if (response.msg === "success") {
            var data = response.data;
            var finalData = [];
            var totalequipmentcost = 0;

            $.each(data, function (key, item) {
              totalequipmentcost += parseFloat(item.itemcost);
              finalData.push({
                itemdescription: item.itemdescription,
                stocks: item.stocks,
                itemcost: ConvertToCurrency(item.itemcost)
              });
            });

            createChart(finalData);
            document.getElementById("totalequipmentcost").textContent = ConvertToCurrency(totalequipmentcost);
            $(".progress").slideUp();
            populatestockstable(data);
          } else {
            console.error(response.msg);
            $(".progress").slideUp();
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    function populatestockstable(data) {
      console.log("reqeust", data);
      const tableBody = $("#cabling-stocks-datatable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 7,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "APPROVED") {
            action = `<button class="custom-btn shadow-sm cw-7rem" id="reportBtn" name="reportBtn" data-toggle="modal" data-target="#editModal">REPORT</button>`;
          } else if (item.status === "REQUEST") {
            action =
              action = `<button class="custom-btn shadow-sm cw-7rem" id="approveBtn" name="approveBtn">APPROVE</button>`;
          }
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getContainerBackground(item.status);

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.itemdescription,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.stocks,
              "data-label": "Access",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.itemcost,
              "data-label": "Created By",
              class: "custom-mobile-align",
            })
          );

          tableBody.append(tr);
        });
      }
    }


    function LoadTableModal(detailid) {
      //Request Table Data
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/getrequestdetail",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            var data = result.data;

            //#region request datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
                const tbody = document.getElementById("patchpanel-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              } else {
                const tbody = document.getElementById("request-body-table");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region return datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("return-body-table");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region report datatable
            var index = 0;
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("report-table-body");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = `<input
                    id="reportcount"
                    name="reportcount"
                    type="text"
                    class="form-control input-element"
                    placeholder="Enter Item Count"
                    aria-label="reportcount"
                    aria-describedby="basic-addon1"
                    value=0
                  />`;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                index += 1;
                tbody.appendChild(row);
              }
            });
            //#endregion
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function LoadCardData() {
      $.ajax({
        type: "GET",
        url: "/cablingdashboard/getactiverequest",
        success: function (result) {
          console.log(result.data.totalrequest);
          document.getElementById("cablingequipmentrequest").textContent =
            result.data.totalrequest;
          document.getElementById("cablingequipmentreport").textContent =
            result.data.totalreport;
        },
        error: function (errormsg) {
          warning("Error", errormsg);
        },
      });
    }

    function createChart(data) {
      // let allCategories = [
      //   ...new Set(data.map((item) => item.itemdescription, item.stocks)),
      // ];

      // let stocks = [];

      // allCategories.forEach((category) => {
      //   let count = data.filter(
      //     (item) => item.category === category
      //   ).length;
      //   stocks.push({ category, count });
      // });

      let labels = data.map((entry) => entry.itemdescription);
      let chartData = data.map((entry) => entry.stocks);

      let ctx = document
        .getElementById("equipment-stocks-chart")
        .getContext("2d");
      let myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Stock Counts",
              data: chartData,
              backgroundColor: "rgb(216, 42, 39, 0.65)",
              borderColor: "rgb(216, 42, 39",
              borderWidth: 1,
            },
          ],
        },
        options: {
          maintainAspectRatio: false,
          plugins: {
            labels: {
              font: {
                family: "Share Tech",
                size: 14,
              },
            },
          },
        },
      });
    }
  });
</script>
