<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="cablingitemunitsModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Cabling Item Units</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <label class="form-label" for="itemunitcodemodal">Unit Code</label>
                  <input id="itemunitcodemodal" name="itemunitcodemodal" type="text" class="form-control"
                    placeholder="Enter new item code" aria-label="fullname" aria-describedby="basic-addon1" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control text-center custom-input" placeholder="Select/Input Unit"
                      name="unitdescriptionmodal" id="unitdescriptionmodal" />
                    <div class="input-group-append">
                      <span class="input-group-text">Unit</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control text-center custom-input" placeholder="Select/Input Item"
                      name="itemmodal" id="itemmodal" />
                    <div class="input-group-append">
                      <span class="input-group-text">Item</span>
                    </div>
                  </div>
                  <div class="custom-dropdown" id="itemmodalDropdown"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button type="button" id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-1">
  <h1 class="page-title">Cabling Item Unit</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-md-12">
            <label class="form-label" for="unitdescription">Unit Description</label>
            <input id="unitdescription" name="unitdescription" type="text" class="form-control"
              placeholder="Enter Unit Description" aria-label="unitdescription" aria-describedby="basic-addon1" />
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control text-center custom-input" placeholder="Select/Input Item" name="item"
                id="item" />
              <div class="input-group-append">
                <span class="input-group-text">Item</span>
              </div>
            </div>
            <div class="custom-dropdown cdw-4letter" id="itemDropdown"></div>
          </div>
          <div class="col-md-4">
            <button id="addBtn" name="addBtn"
              class="ml-2 d-none d-sm-inline-block custom-btn cw-7rem shadow-sm">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row mb-4">
      <div class="col-md-3">
        <h6 class="m-0 font-weight-bold table-title">Caling Item Table</h6>
      </div>
      <div class="col-md-6">
        <input id="search" name="search" type="text" class="form-control" placeholder="Search Item Description"
          aria-label="search" aria-describedby="basic-addon1" />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="cablingitemunits-dataTable" width="100%" cellspacing="10">
        <thead class="table-dark">
          <tr>
            <th class="col-1 text-start">Unit Code</th>
            <th class="col-3 text-center">Item Code</th>
            <th class="col-3 text-center">Unit Description</th>
            <th class="col-1 text-center">Status</th>
            <th class="col-3 text-center">Created by</th>
            <th class="col-3 text-center">Created date</th>
            <th class="col-1 text-end">Action</th>
          </tr>
        </thead>

        <tbody class="table-light"></tbody>
      </table>
    </div>
  </div>
</div>