<script>
  $(document).ready(function () {
    let itemunitcode = "";
    let status = "";
    let unit = "";
    let item = "";

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $('#datatable tbody');
    for(let i = 0; i < 8; i++){
      tbody.append(loader);
    }

    LoadTable();
    LoadList();
    // LoadModalList();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      itemunitcode = dataRow[0];
      item = dataRow[1];
      unit = dataRow[2];
      status = dataRow[5];
    });

    $(document).on("click", "#editBtn", function () {
      $("#itemunitcodemodal").val(itemunitcode);
      $("#itemmodal").val(item);
      $("#unitdescriptionmodal").val(unit);
      $("#cablingitemunitsModal").modal("show");
      console.log(itemunitcode);
    });

    $(document).on("click", "#addBtn", function () {
      let unitdescription = $("#unitdescription").val();
      let itemname = $("#item").val();

      console.log(`${unitdescription} ${itemname}`);

      var message = "";

      if (unitdescription == "") {
        message += "UNIT DESCRIPTION ";
      }

      if (itemname == "") {
        message += "ITEM NAME";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitemunits/save",
          data: {
            unitdescription: unitdescription,
            itemname: itemname,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${itemname} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let unitdescriptionmodal = $("#unitdescriptionmodal").val();
      let itemlistmodal = $("#itemmodal").val();

      var message = "";

      if (unitdescriptionmodal == "") {
        message += "ITEM DESCRIPTION ";
      }

      if (itemlistmodal == "") {
        message += "BRAND NAME ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitemunits/edit",
          data: {
            unitdescriptionmodal: unitdescriptionmodal,
            itemlistmodal: itemlistmodal,
            itemunitcode: itemunitcode,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${unitdescriptionmodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(itemunitcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitemunits/status",
        data: {
          status: status,
          itemunitcode: itemunitcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemunitcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(itemunitcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitemunits/status",
        data: {
          status: status,
          itemunitcode: itemunitcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemunitcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    //Search Table Functionality
    $("#search").on("input", function () {
      filterTableRows("#datatable", 6, "#search");
    });

    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: '/cablingitemunits/load',
        method: 'GET',
        dataType: 'json',
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          }
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === 'success') {
                populatedatatable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $('#datatable tbody');
      tableBody.empty();

      if (data.length === 0) {
        const tr = $('<tr>').append($('<td>', {
          colspan: 6,
          class: 'text-center',
          text: 'No Data Matched'
        }));
        tableBody.append(tr);
      } else {
        data.forEach(item => {
          let action = '';
          if (item.status === 'ACTIVE') {
            action = `
                  <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                  <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === 'INACTIVE') {
            action = `
                <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = item.status === 'ACTIVE' ? 'status-success' : 'status-warning';
          const containerBackground = item.status === 'ACTIVE' ? 'status-container-sc' : 'status-container-wr';

          const tr = $('<tr>').append(
            $('<td>', { text: item.itemunitcode, 'data-label': 'ID', class: 'custom-mobile-align' }),
            $('<td>', { text: item.itemcode, 'data-label': 'Name', class: 'custom-mobile-align' }),
            $('<td>', { text: item.unit, 'data-label': 'Unit', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
            $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
              $('<div>', { class: containerBackground }).append(
                $('<span>', { text: item.status, class: statusBackground })
              )
            ),
            $('<td>', { html: action, 'data-label': 'Action', class: 'actionWidth' })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/cablingitems/load",
        success: function (result) {
          var data = result.data;
          let activeItems = [];

          $.each(data, function (key, item) {
            if (item.status == "ACTIVE") {
              activeItems.push(item.description);
              var options = new Option(item.description, item.description);
              $(options).html(item.description);
              // $("#fruits").append(options);
              // $("#itemnamelist").append(options);
            }
          });

          populateDropdown(activeItems, "itemDropdown", "item");
          populateDropdown(activeItems, "itemmodalDropdown", "itemmodal");
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    // function LoadModalList() {
    //   $.ajax({
    //     type: "GET",
    //     url: "/brand/load",
    //     success: function (result) {
    //       var data = result.data;
    //       let activeItems = [];

    //       $.each(data, function (key, item) {
    //         if (item.status == "ACTIVE") {
    //           activeItems.push(item.description);
    //           var options = new Option(item.description, item.description);
    //           $(options).html(item.description);
    //           // $("#fruits").append(options);
    //           // $("#itemlistmodal").append(options);
    //         }
    //       });
    //       populateDropdown(activeItems, "itemmodalDropdown", "itemmodal");
    //     },
    //     error: function (err) {
    //       errormsg(err);
    //     },
    //   });
    // }

    setupCustomDropdown("item", "itemDropdown", "dropdown-option");
    setupCustomDropdown("itemmodal", "itemmodalDropdown", "dropdown-option");
  });
</script>
