<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="page-title">Production Materials</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-6">
            <label class="form-label" for="positioncodemodal"
              >Product Name</label
            >
            <input
              id="positioncodemodal"
              name="positioncodemodal"
              type="text"
              class="form-control"
              placeholder="Enter new position"
              aria-label="fullname"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" for="categorylist">Category</label>
            <input
              class="entry-input form-control mb-2"
              list="categorynamelist"
              id="categorylist"
              name="categorylist"
              placeholder="Select Category"
              aria-label="categorylist"
              aria-describedby="basic-addon1"
            />

            <datalist id="categorynamelist">
              <option value=""></option>
            </datalist>
          </div>
        </div>

        <div class="row md-2">
          <div class="col-md-12">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="4"
              cols="50"
            ></textarea>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <label class="form-label" for="price"
              >Price</label
            >
            <input
              id="price"
              name="price"
              type="text"
              class="form-control"
              placeholder="Enter Price"
              aria-label="price"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" for="vendorlist">Vendor</label>
            <input
              class="entry-input form-control mb-2"
              list="vendornamelist"
              id="vendorlist"
              name="vendorlist"
              placeholder="Select Category"
              aria-label="vendorlist"
              aria-describedby="basic-addon1"
            />

            <datalist id="vendornamelist">
              <option value=""></option>
            </datalist>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center mt-1">
            <button
              id="addBtn"
              name="addBtn"
              class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm w-75"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add / Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row mb-4">
      <div class="col-md-3">
        <h6 class="m-0 font-weight-bold table-title">
          Production Materials Table
        </h6>
      </div>
      <div class="col-md-6">
        <input
          id="search"
          name="search"
          type="text"
          class="form-control"
          placeholder="Search Material Name"
          aria-label="search"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="productionmaterial-dataTable"
        width="100%"
        cellspacing="10"
      >
        <thead class="table-dark">
          <tr>
            <th class="col-1 text-start">ID</th>
            <th class="col-2 text-center">Name</th>
            <th class="col-3 text-center">Description</th>
            <th class="col-1 text-center">Category</th>
            <th class="col-1 text-center">Vendor ID</th>
            <th class="col-1 text-center">Price</th>
            <th class="col-1 text-center">Status</th>
            <th class="col-3 text-center">Created by</th>
            <th class="col-2 text-center">Created date</th>
            <th class="col-1 text-end">Action</th>
          </tr>
        </thead>

        <tbody class="table-light"></tbody>
      </table>
    </div>
  </div>
</div>
