<script>
  $(document).ready(function () {
    let id = "";
    let status = "";
    let description = "";

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $('#datatable tbody');
    for(let i = 0; i < 7; i++){
      tbody.append(loader);
    }

    LoadTable();
    LoadList();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      id = dataRow[0];
      status = dataRow[4];
      description = dataRow[2];
    });

    $(document).on("click", "#editBtn", function () {
      $("#idmodal").val(id);
      $("#descriptionmodal").val(description);
      $("#editModal").modal("show");
      LoadlistModal()
      console.log(id);
    });

    $(document).on("input", "#brand", function () {
      $("#brandID").val("");
    });

    $(document).on("click", "#addBtn", function () {
      let brand = $("#brandID").val();
      let description = $("#description").val();
      console.log(brand, description);
      var message = "";

      if (brand == "") {
        message += "Brand, ";
      }
      if (description == "") {
        message += "Description";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } 
      else {
        $.ajax({
          type: "POST",
          url: "/cablingtool/save",
          data: {
            brand: brand,
            description: description
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${description} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    $(document).on("input", "#brandmodal", function () {
      $("#brandIDmodal").val("");
    });
    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let brandmodal = $("#brandIDmodal").val();
      let descriptionmodal = $("#descriptionmodal").val();

      var message = "";

      if (brandmodal == "" && descriptionmodal == "") {
        message += "Fill atleast one field";
      }

      if (message != "") {
        warning("Required", `${message}`);
      } else {
        $.ajax({
          type: "PUT",
          url: "/cablingtool/edit",
          data: {
            brand: brandmodal,
            description: descriptionmodal,
            id: id,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              $("#descriptionmodal").val("");
              $("#brandIDmodal").val("");
              $("#brandmodal").val("");
              $("#editModal").modal("hide");
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${descriptionmodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      // console.log(id);
      // console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingtool/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingtool/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    //Search Table Functionality
    $("#search").on("input", function () {
      filterTableRows("#datatable", 6, "#search");
    });

    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: '/cablingtool/load',
        method: 'GET',
        dataType: 'json',
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          }
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === 'success') {
                populatedatatable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $('#datatable tbody');
      tableBody.empty();

      if (data.length === 0) {
        const tr = $('<tr>').append($('<td>', {
          colspan: 7,
          class: 'text-center',
          text: 'No Data Matched'
        }));
        tableBody.append(tr);
      } else {
        data.forEach(item => {
          let action = '';
          if (item.status === 'ACTIVE') {
            action = `
                  <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                  <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === 'INACTIVE') {
            action = `
                <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = item.status === 'ACTIVE' ? 'status-success' : 'status-warning';
          const containerBackground = item.status === 'ACTIVE' ? 'status-container-sc' : 'status-container-wr';

          const tr = $('<tr>').append(
            $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
            $('<td>', { text: item.brand, 'data-label': 'Brand', class: 'custom-mobile-align' }),
            $('<td>', { text: item.description, 'data-label': 'Description', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
            $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
              $('<div>', { class: containerBackground }).append(
                $('<span>', { text: item.status, class: statusBackground })
              )
            ),
            $('<td>', { html: action, 'data-label': 'Action', class: 'actionWidth' })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadList() {
      // console.log("triggered");
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          let activeBrand = [];
          let dropdownID = "brandDropdown";
          let inputID = "brand";
          let hiddenID = "brandID";
          let container = result.data;
          // console.log(container)
          $.each(container, (key, item) => {
            let name = item.name;
            let id = item.id;
            activeBrand.push({
              display: name,
              value: id,
            });
          });
          AddDropdownData(dropdownID, activeBrand, inputID, hiddenID)
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function LoadlistModal() {
      // console.log("triggered");
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          let activeBrand = [];
          let dropdownID = "brandDropdownmodal";
          let inputID = "brandmodal";
          let hiddenID = "brandIDmodal";
          let container = result.data;
          // console.log(container)
          $.each(container, (key, item) => {
            let name = item.name;
            let id = item.id;
            activeBrand.push({
              display: name,
              value: id,
            });
          });
          AddDropdownData(dropdownID, activeBrand, inputID, hiddenID)
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

  });
</script>
