<script>
  $(document).ready(function () {
    let positioncode = "";
    let status = "";

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $('#datatable tbody');
    for(let i = 0; i < 8; i++){
      tbody.append(loader);
    }

    LoadTable();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      positioncode = dataRow[0];
      status = dataRow[4];
    });

    $(document).on("click", "#editBtn", function () {
      $("#positioncodemodal").val(positioncode);
      $("#positionModal").modal("show");
      console.log(positioncode);
    });

    $(document).on("click", "#addBtn", function () {
      let positionname = $("#positionname").val();

      var message = "";

      if (positionname == "") {
        message += "position Name";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/position/save",
          data: {
            positionname: positionname,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${positionname} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let positioncodemodal = $("#positioncodemodal").val();

      var message = "";

      if (positionnamemodal == "") {
        message += "POSITION NAME ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/position/edit",
          data: {
            positionnamemodal: positionnamemodal,
            positioncode: positioncode,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${positionnamemodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(positioncode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/position/status",
        data: {
          status: status,
          positioncode: positioncode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${positioncode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(positioncode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/position/status",
        data: {
          status: status,
          positioncode: positioncode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${positioncode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("position-dataTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: '/position/load',
        method: 'GET',
        dataType: 'json',
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          }
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === 'success') {
                populatedatatable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $('#datatable tbody');
      tableBody.empty();

      if (data.length === 0) {
        const tr = $('<tr>').append($('<td>', {
          colspan: 6,
          class: 'text-center',
          text: 'No Data Matched'
        }));
        tableBody.append(tr);
      } else {
        data.forEach(item => {
          let action = '';
          if (item.status === 'ACTIVE') {
            action = `
                  <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                  <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === 'INACTIVE') {
            action = `
                <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = item.status === 'ACTIVE' ? 'status-success' : 'status-warning';
          const containerBackground = item.status === 'ACTIVE' ? 'status-container-sc' : 'status-container-wr';

          const tr = $('<tr>').append(
            $('<td>', { text: item.positioncode, 'data-label': 'ID', class: 'custom-mobile-align' }),
            $('<td>', { text: item.positionname, 'data-label': 'Access', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
            $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
              $('<div>', { class: containerBackground }).append(
                $('<span>', { text: item.status, class: statusBackground })
              )
            ),
            $('<td>', { html: action, 'data-label': 'Action', class: 'actionWidth' })
          );

          tableBody.append(tr);
        });
      }
    }
  });
</script>
