<script>
  $(document).ready(function () {
    let detailid = "";
    let requestby = "";
    let requestdate = "";

    let report_brand = "";
    let report_description = "";

    LoadTable();

    $("#cabling-equipment-request-dataTable tbody").on(
      "click",
      "tr",
      function () {
        var dataRow = [];
        $(this)
          .closest("tr")
          .find("td")
          .each(function () {
            dataRow.push($(this).text());
          });
        console.log(dataRow);
        detailid = dataRow[0];
        requestby = dataRow[1];
        requestdate = dataRow[2];
      }
    );

    let row_index = "";
    let current_row_index = "";
    let current_row = "";
    let current_count = 0;
    $("#report-dataTable").on("click", "tr", function () {
      var dataRow = [];
      row_index = this;
      current_row_index = $(this).index();
      current_row = $(this).closest("tr");
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      report_brand = dataRow[0];
      report_description = dataRow[1];
    });

    $(document).on("click", "#reportBtn", function () {
      //   $("#itempricemodal").val(RemoveCurrencyFormatting(itemprice));
      $("#detailidmodal").html(detailid);
      $("#requestbymodal").html(requestby);
      $("#requestdatemodal").html(requestdate);
      $("#cablingrequestmaterialreportModal").modal("show");
      console.log(detailid);

      LoadTableModal(detailid);
    });

    //Submit Report
    $(document).on("click", "#submitBtn", function () {});

    //Request Table Action Buttons
    $(document).on("click", "#approveBtn", function () {
      console.log(detailid);
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/approve",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("cabling-equipment-request-dataTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    $("#report-dataTable").on("keyup", ".input-element", function (e) {
      var count = $(this).val();
      var request_count = $(
        `#request-body-table tr:eq(${current_row_index}) td:eq(2)`
      ).text();
      console.log(`${count} ${request_count} ${current_row_index}`);

      current_count = request_count - count;

      console.log(current_count);
      $(`#return-dataTable tr:eq(${current_row_index + 1}) td:eq(2)`).text(
        `${current_count}`
      );
    });

    $(document).on("click", "#submitBtn", function () {
      //#region Report table
      var table = document.getElementById("report-dataTable");
      var report_table = $("#report-dataTable tr");
      var report_table_length = report_table.length;
      var reportdr = $("#reportdr").val();
      var report_detail = [];

      for (x = 1; x < report_table_length; x++) {
        var innerData = report_table[x].innerText;
        innerData = innerData.split("\t");
        var target_row = table
          .getElementsByTagName("tbody")[0]
          .getElementsByTagName("tr")[x - 1];

        var input = $(target_row).closest("tr").find('input[type="text"]');

        if (reportdr == "") {
          return warning("Empty", "Please fillup DR for report table.");
        }

        report_detail.push({
          brand: innerData[0],
          description: innerData[1],
          count: input.val(),
          unit: innerData[3],
          dr: reportdr,
        });
      }
      //#endregion

      //#region Return table
      var return_table = $("#return-dataTable tr");
      var return_table_length = return_table.length;
      var return_detail = [];

      for (x = 1; x < return_table_length; x++) {
        var innerData = return_table[x].innerText;
        innerData = innerData.split("\t");

        var count = innerData[2];
        if (count != "0") {
          return_detail.push({
            brand: innerData[0],
            description: innerData[1],
            count: innerData[2],
            unit: innerData[3],
          });
        }
      }
      //#endregion

      //#region Patch Panel table
      var patchpanel_table = $("#patchpanel-dataTable tr");
      var patchpanel_table_length = patchpanel_table.length;
      var patchpaneldr = $("#patchpaneldr").val();
      var patchpanel_detail = [];

      for (x = 1; x < patchpanel_table_length; x++) {
        var innerData = patchpanel_table[x].innerText;
        innerData = innerData.split("\t");

        if (patchpaneldr == "") {
          return warning("Empty", "Please fillup DR for patch panel table.");
        }

        patchpanel_detail.push({
          brand: innerData[0],
          description: innerData[1],
          count: innerData[2],
          unit: innerData[3],
          dr: patchpaneldr,
        });
      }
      //#endregion

      report_detail = JSON.stringify(report_detail);
      return_detail = JSON.stringify(return_detail);
      patchpanel_detail = JSON.stringify(patchpanel_detail);

      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/report",
        data: {
          detailid: detailid,
          requestby: requestby,
          reportdetail: report_detail,
          returndetail: return_detail,
          patchpaneldetail: patchpanel_detail,
        },
        success: function (result) {
          $("#cablingrequestmaterialreportModal").modal("toggle");
          LoadTable();
          success("Success", "Report Complete!");
        },
        error: function (err) {
          errmsg(err);
        },
      });
    });

    function LoadTable() {
      $("#cabling-equipment-request-dataTable").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/cablingrequestmaterial/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "REQUEST") {
                action =
                  '<button id="approveBtn" class="btn btn-outline-primary btn-sm" name="approveBtn">APPROVE</button>';
              }

              if (status == "APPROVED") {
                action =
                  '<button id="reportBtn" class="btn btn-outline-primary btn-sm" name="reportBtn">REPORT</button>';
              }

              finalData.push({
                detailid: item.detailid,
                requestby: item.requestby,
                requestdate: item.requestdate,
                detail: item.detail,
                remarks: item.remarks,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "detailid" },
          { data: "requestdate" },
          { data: "requestby" },
          { data: "detail" },
          { data: "remarks" },
          { data: "status" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }

    function LoadTableModal(detailid) {
      //Request Table Data
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/getrequestdetail",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            var data = result.data;

            //#region request datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
                const tbody = document.getElementById("patchpanel-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              } else {
                const tbody = document.getElementById("request-body-table");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region return datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("return-body-table");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region report datatable
            var index = 0;
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("report-table-body");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = `<input
                    id="reportcount"
                    name="reportcount"
                    type="text"
                    class="form-control input-element"
                    placeholder="Enter Item Count"
                    aria-label="reportcount"
                    aria-describedby="basic-addon1"
                    value=0
                  />`;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                index += 1;
                tbody.appendChild(row);
              }
            });
            //#endregion
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }
  });
</script>
