<script>
  $(document).ready(function () {
    let detailid = "";
    let requestby = "";
    let requestdate = "";

    let report_brand = "";
    let report_description = "";

    LoadTable();

    $("#cabling-equipment-request-dataTable tbody").on(
      "click",
      "tr",
      function () {
        var dataRow = [];
        $(this)
          .closest("tr")
          .find("td")
          .each(function () {
            dataRow.push($(this).text());
          });
        console.log(dataRow);
        detailid = dataRow[0];
        requestby = dataRow[1];
        requestdate = dataRow[2];
      }
    );

    let row_index = "";
    let current_row_index = "";
    let current_row = "";
    let current_count = 0;
    $("#report-dataTable").on("click", "tr", function () {
      var dataRow = [];
      row_index = this;
      current_row_index = $(this).index();
      current_row = $(this).closest("tr");
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      report_brand = dataRow[0];
      report_description = dataRow[1];
    });

    $(document).on("click", "#reportBtn", function () {
      //   $("#itempricemodal").val(RemoveCurrencyFormatting(itemprice));
      $("#detailidmodal").html(detailid);
      $("#requestbymodal").html(requestby);
      $("#requestdatemodal").html(requestdate);
      $("#cablingrequestmaterialreportModal").modal("show");
      console.log(detailid);

      LoadTableModal(detailid);
    });

    //Submit Report
    $(document).on("click", "#submitBtn", function () {});

    //Request Table Action Buttons
    $(document).on("click", "#approveBtn", function () {
      console.log(detailid);
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/approve",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $("#search").on("keyup", function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("cabling-equipment-request-dataTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    });

    $("#report-dataTable").on("keyup", ".input-element", function (e) {
      var count = $(this).val();
      var request_count = $(
        `#request-dataTable tr:eq(${current_row_index - 1}) td:eq(2)`
      ).text();
      console.log(`${count} ${request_count} ${current_row_index}`);

      current_count = request_count - count;
      $(`#return-dataTable tr:eq(${current_row_index - 1}) td:eq(2)`).text(
        `${current_count}`
      );
    });

    function LoadTable() {
      $("#cabling-equipment-request-dataTable").DataTable({
        destroy: true,
        processing: true,
        serverSide: true,
        paging: false,
        searching: false,
        info: false,
        scrollY: 400,
        scrollCollapse: true,
        serverMethod: "GET",
        ajax: {
          url: "/cablingrequestmaterial/load",
          dataSrc: (json) => {
            var finalData = [];
            var data = json.data;

            console.log(data);
            $.each(data, (key, item) => {
              var action = "";
              var status = item.status;

              if (status == "REQUEST") {
                action =
                  '<button id="approveBtn" class="btn btn-outline-primary btn-sm" name="approveBtn">APPROVE</button>';
              }

              if (status == "APPROVED") {
                action =
                  '<button id="reportBtn" class="btn btn-outline-primary btn-sm" name="reportBtn">REPORT</button>';
              }

              finalData.push({
                detailid: item.detailid,
                requestby: item.requestby,
                requestdate: item.requestdate,
                detail: item.detail,
                remarks: item.remarks,
                status: item.status,
                action: action,
              });
            });

            return finalData;
          },
        },
        columnDefs: [
          {
            targets: 1,
            className: "td-indent",
          },
        ],
        columns: [
          { data: "detailid" },
          { data: "requestby" },
          { data: "requestdate" },
          { data: "detail" },
          { data: "remarks" },
          { data: "status" },
          { data: "action" },
        ],
        initComplete: function () {},
      });
    }

    function LoadTableModal(detailid) {
      //Request Table Data
      $.ajax({
        type: "POST",
        url: "/cablingrequestmaterial/getrequestdetail",
        data: {
          detailid: detailid,
        },
        success: function (result) {
          if (result.msg == "success") {
            var data = result.data;

            //#region request datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
                const tbody = document.getElementById("patchpanel-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              } else {
                const tbody = document.getElementById("request-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region return datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("return-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = item.quantity;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion

            //#region report datatable
            $.each(data, (key, item) => {
              if (item.description == "PATCH PANEL") {
              } else {
                const tbody = document.getElementById("report-dataTable");
                const row = document.createElement("tr");
                const BRAND = document.createElement("td");
                const DESCRIPTION = document.createElement("td");
                const COUNT = document.createElement("td");
                const UNIT = document.createElement("td");

                BRAND.innerHTML = item.itembrand;
                row.appendChild(BRAND);

                DESCRIPTION.innerHTML = item.description;
                row.appendChild(DESCRIPTION);

                COUNT.innerHTML = ` <input
                    id="reportcount"
                    name="reportcount"
                    type="text"
                    class="form-control input-element"
                    placeholder="Enter Item Count"
                    aria-label="reportcount"
                    aria-describedby="basic-addon1"
                    value=0
                  />`;
                row.appendChild(COUNT);

                UNIT.innerHTML = item.unit;
                row.appendChild(UNIT);

                tbody.appendChild(row);
              }
            });
            //#endregion
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }
  });
</script>
