<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="personelModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Departments</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <label class="form-label" for="systemidmodal">System ID</label>
                  <input id="systemidmodal" name="systemidmodal" type="text" class="form-control"
                    placeholder="Enter new department" aria-label="fullname" aria-describedby="basic-addon1" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label" for="personelnamemodal">Personel Name</label>
                  <input id="personelnamemodal" name="personelnamemodal" type="text" class="form-control"
                    placeholder="Enter new personel name" aria-label="personelnamemodal"
                    aria-describedby="basic-addon1" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button type="button" id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <h1 class="page-title">Reports</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-12">
            <label class="form-label" for="startdate">Start Date</label>
            <input id="startdate" name="startdate" type="date" class="form-control" placeholder="Select Start Date"
              aria-label="startdate" aria-describedby="basic-addon1" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label class="form-label" for="enddate">End Date</label>
            <input id="enddate" name="enddate" type="date" class="form-control" placeholder="Select End Date"
              aria-label="enddate" aria-describedby="basic-addon1" />
          </div>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-md-4 text-center pr-2 pb-2">
          <button id="searchBtn" name="searchBtn" class="shadow ml-2 custom-btn cw-7rem">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow table-size">
  <div class="progress progress-sm mb-2">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-3 text-center pt-2">
        <h6 class="m-0 font-weight-bold table-title">Report Table</h6>
      </div>
      <div class="col-md-6 pt-2">
        <input id="search" name="search" type="text" class="form-control" placeholder="Search roletype Name"
          aria-label="search" aria-describedby="basic-addon1" />
      </div>
      <div class="col-md-3 pt-2 text-right">
        <button class="custom-btn cw-7rem" id="exportBtn" type="button" style="border-radius: 0.2rem;">
          <i class="fas fa-file-export"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive scrollable-table-container">
      <table class="table custom-mobile-table" id="datatable" width="100%">
        <thead class="table-header" style="border: none;">
          <tr>
            <th>ID</th>
            <th>Personel</th>
            <th>Date</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Approved By</th>
            <th>Approved Date</th>
            <th>DR No.</th>
            <th>Consumed</th>
            <th>Total Returns</th>
          </tr>
        </thead>
    
        <tbody class="table-light">
    
        </tbody>
        <div class="wave-opacity">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
              <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
              <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
          </svg>
        </div>
      </table>
  </div>
  </div>
</div>