<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="cablingitemsModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Cabling Items</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-lg-12">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-12">
                  <label class="form-label" for="itemcodemodal">Item Code</label>
                  <input id="itemcodemodal" name="itemcodemodal" type="text" class="form-control"
                    placeholder="Enter new item code" aria-label="fullname" aria-describedby="basic-addon1" disabled />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control text-center custom-input" placeholder="Input Item Description"
                      name="itemnamemodal" id="itemnamemodal" />
                    <div class="input-group-append">
                      <span class="input-group-text">Item Description</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control text-center custom-input" placeholder="Select/Input Brand"
                      name="brandmodal" id="brandmodal" />
                    <div class="input-group-append">
                      <span class="input-group-text">Brand</span>
                    </div>
                  </div>
                  <div class="custom-dropdown" id="brandmodalDropdown"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"
          data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Close
        </button>
        <button type="button" id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
          <i class="fa fa-check" aria-hidden="true"></i> Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- PCreated by Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-1">
  <h1 class="page-title">Cabling Items</h1>
</div>
<!-- Content Row -->
<div class="row mb-2">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-12">
            <label class="form-label" for="itemdescription">Item Description</label>
            <input id="itemdescription" name="itemdescription" type="text" class="form-control"
              placeholder="Enter Item Description" aria-label="itemdescription" aria-describedby="basic-addon1" />
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-12 d-flex">
            <div class="input-group">
              <input class="form-control text-center custom-input" placeholder="Select/Input Brand" name="brand"
                id="brand" />
              <div class="input-group-append">
                <span class="input-group-text">Brand</span>
              </div>
            </div>
            <div class="custom-dropdown cdw-5letter" id="brandDropdown"></div>
            <button id="addBtn" name="addBtn" class="ml-2 d-none d-sm-inline-block custom-btn cw-7rem shadow-sm">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- DataTales Example -->
<div class="card shadow table-size">
  <div class="progress progress-sm mb-2">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-3 text-center pt-2">
        <h6 class="m-0 font-weight-bold table-title">Cabling Item Table</h6>
      </div>
      <div class="col-md-6 pt-2">
        <input id="search" name="search" type="text" class="form-control" placeholder="Search roletype Name"
          aria-label="search" aria-describedby="basic-addon1" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive scrollable-table-container">
      <table class="table custom-mobile-table" id="datatable" width="100%">
        <thead class="table-header" style="border: none;">
          <tr>
            <th>Code</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Created by</th>
            <th>Created date</th>
            <th class="col-1">Status</th>
            <th class="col-1"></th>
          </tr>
        </thead>
    
        <tbody class="table-light">
    
        </tbody>
      </table>
    </div>
  </div>
</div>