<script>
  $(document).ready(function () {
    let itemcode = "";
    let status = "";
    let brand = "";
    let itemname = "";

    const loader = `  
        <tr>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
          <td><div class="custom-loader"></div></td>
        </tr>`;

    const tbody = $('#datatable tbody');
    for(let i = 0; i < 7; i++){
      tbody.append(loader);
    }

    LoadTable();
    LoadList();
    LoadModalList();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      itemcode = dataRow[0];
      brand = dataRow[1];
      itemname = dataRow[2];
      status = dataRow[5];
    });

    $(document).on("click", "#editBtn", function () {
      $("#itemcodemodal").val(itemcode);
      $("#brandmodal").val(brand);
      $("#itemnamemodal").val(itemname);
      $("#cablingitemsModal").modal("show");
      console.log(itemcode);
    });

    $(document).on("click", "#addBtn", function () {
      let itemdescription = $("#itemdescription").val();
      let brandname = $("#brand").val();

      var message = "";

      if (itemdescription == "") {
        message += "ITEM DESCRIPTION ";
      }

      if (brandname == "") {
        message += "BRAND NAME";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitems/save",
          data: {
            itemdescription: itemdescription,
            brandname: brandname,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${itemdescription} has already registered!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Edit Update
    $(document).on("click", "#saveBtn", function () {
      let brand = $("#brandmodal").val();
      let item = $("#itemnamemodal").val();

      var message = "";

      if (item == "") {
        message += "ITEM DESCRIPTION ";
      }

      if (brand == "") {
        message += "BRAND NAME ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/cablingitems/edit",
          data: {
            itemdescriptionmodal: item,
            brandlistmodal: brand,
            itemcode: itemcode,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${itemdescriptionmodal} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(itemcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitems/status",
        data: {
          status: status,
          itemcode: itemcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(itemcode);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/cablingitems/status",
        data: {
          status: status,
          itemcode: itemcode,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${itemcode} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    //Search Table Functionality
    $("#search").on("input", function () {
      filterTableRows("#datatable", 6 , "#search");
    });

    function LoadTable() {
      $(".progress").hide();
      $(".progress").slideDown();

      $.ajax({
        url: '/cablingitems/load',
        method: 'GET',
        dataType: 'json',
        xhrFields: {
          onprogress: function (e) {
            if (e.lengthComputable) {
              var percentComplete = (e.loaded / e.total) * 100;
              $(".progress-bar").css("width", percentComplete + "%");
            }
          }
        },
        success: function (data) {
          setTimeout(function () {
            $(".progress").slideUp(function () {
              if (data.msg === 'success') {
                populatedatatable(data.data);
              } else {
                console.error(data.msg);
              }
            });
          }, 1000);
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $('#datatable tbody');
      tableBody.empty();

      if (data.length === 0) {
        const tr = $('<tr>').append($('<td>', {
          colspan: 6,
          class: 'text-center',
          text: 'No Data Matched'
        }));
        tableBody.append(tr);
      } else {
        data.forEach(item => {
          let action = '';
          if (item.status === 'ACTIVE') {
            action = `
                  <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                  <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === 'INACTIVE') {
            action = `
                <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = item.status === 'ACTIVE' ? 'status-success' : 'status-warning';
          const containerBackground = item.status === 'ACTIVE' ? 'status-container-sc' : 'status-container-wr';

          const tr = $('<tr>').append(
            $('<td>', { text: item.itemcode, 'data-label': 'ID', class: 'custom-mobile-align' }),
            $('<td>', { text: item.brand, 'data-label': 'Brand', class: 'custom-mobile-align' }),
            $('<td>', { text: item.description, 'data-label': 'Name', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
            $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
            $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
              $('<div>', { class: containerBackground }).append(
                $('<span>', { text: item.status, class: statusBackground })
              )
            ),
            $('<td>', { html: action, 'data-label': 'Action', class: 'actionWidth' })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          var data = result.data;
          let brandActive = [];

          $.each(data, function (key, item) {
            if (item.status == "ACTIVE") {
              brandActive.push(item.brandname);
              var options = new Option(item.brandname, item.brandname);
              $(options).html(item.brandname);
              // $("#fruits").append(options);
              // $("#brandnamelist").append(options);
            }
          });

          populateDropdown(brandActive, "brandDropdown", "brand");
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    function LoadModalList() {
      $.ajax({
        type: "GET",
        url: "/brand/load",
        success: function (result) {
          var data = result.data;
          let brandActive = [];

          $.each(data, function (key, item) {
            if (item.status == "ACTIVE") {
              brandActive.push(item.brandname);
              var options = new Option(item.brandname, item.brandname);
              $(options).html(item.brandname);
              // $("#fruits").append(options);
              // $("#brandnamelistmodal").append(options);
            }
          });

          populateDropdown(brandActive, "brandmodalDropdown", "brandmodal");
        },
        error: function (err) {
          errormsg(err);
        },
      });
    }

    setupCustomDropdown("brand", "brandDropdown", "dropdown-option");
    setupCustomDropdown("brandmodal", "brandmodalDropdown", "dropdown-option");
  });
</script>
